.mybg {
    height: 100vh;
    background: black;
}
.intro {
    height: 30%;
    width: 50%;
    margin-bottom: 40px;
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 16px;
}
